/* .login-container {
  background: #f8f8f9;
}

.login-form {
  background: #fff;
  margin-top: 40px;
  width: ;
}

.login-title {
  background: #5c80d1;
  color: #fff;
  padding: 10px;
} */
.login-card .card-header {
  background: #5c80d1;
  color: #fff;
}