<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{cfg "website_name"}}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{seo "seo_description"}}">
    <meta name="keyword" content="{{seo "seo_keyword"}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/assets/css/style.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/highlight.js/9.18.1/styles/zenburn.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/highlight.js/9.18.1/highlight.min.js"></script>
</head>

<body>
<div class="content">
    <header>
        <div class="logo">
            <a href="/">{{cfg "website_name"}}</a>
        </div>
        <nav>
            <a href="/categorys" class="mr-1">categorys</a>
            <a href="/authors" class="mr-1">authors</a>
            <a href="/tags">tags</a>
        </nav>
    </header>
    ##content##
{{/*    <footer>*/}}
{{/*        <a href="/authors" class="mr-1">authors</a>*/}}
{{/*        <a href="/tags">tags</a>*/}}
{{/*    </footer>*/}}
</div>
</body>
</html>
