<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{cfg "website_name"}}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{seo "seo_description"}}">
    <meta name="keyword" content="{{seo "seo_keyword"}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/assets/css/style.css" rel="stylesheet">
</head>

<body>
<div class="content">
    <header>
        <div class="logo">
            <a href="/">{{cfg "website_name"}}</a>
        </div>
        <nav>
            <a href="/tags">tags</a>
            <a href="/rss">rss</a>
        </nav>
    </header>
    ##content##
{{/*    <footer>*/}}
{{/*        <a href="https://twitter.com/__jesse_li">twitter</a>*/}}
{{/*        <a href="https://github.com/veggiedefender">github</a>*/}}
{{/*        <a href="https://blog.jse.li/index.xml">rss</a>*/}}
{{/*    </footer>*/}}
</div>
</body>
</html>
