<div class="content content-components">
    <div class="container">
        <ol class="breadcrumb df-breadcrumbs mg-b-10">
            <li class="breadcrumb-item"><a href="#">首页</a></li>
            <li class="breadcrumb-item"><a href="#">Linux</a></li>
            <li class="breadcrumb-item active" aria-current="page">CentOS</li>
        </ol>
        <table class="table table-primary table-hover table-striped mg-b-0">
            <thead>
            <tr>
                <th scope="col" colspan="5" style="text-align: center">CentOS</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Adrian Monino</td>
                <td>Front-End Engineer</td>
                <td>Computer Science</td>
                <td>$120,000</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Socrates Itumay</td>
                <td>Software Engineer</td>
                <td>Computer Engineering</td>
                <td>$150,000</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Reynante Labares</td>
                <td>Product Manager</td>
                <td>Business Management</td>
                <td>$250,000</td>
            </tr>
            </tbody>
        </table>
        <hr class="mg-y-40">
        <ul class="list-unstyled">
            {{range $i, $article := .list.List}}
                {{template "comp:article_card" $article}}
            {{end}}
        </ul>
        <nav class="mg-t-40">
            <ul class="pagination pagination-outline justify-content-center">
                <li class="page-item disabled"><a class="page-link page-link-icon" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg></a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link page-link-icon" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></a></li>
            </ul>
        </nav>
        {{template "comp:footer"}}
    </div><!-- container -->
</div>