<li class="article-card mg-b-20">
    <a class="article-card-img" href="#">
        <img src="{{.Cover}}">
    </a>
    <div class="article-card-body">
        <h2><a href="#">{{.Title}}</a></h2>
        <time class="article-card-time" datetime="{{.CreatedAt}}">{{timeFmt .CreatedAt}}</time>
        <div class="article-card-tags">
            {{$cn := getChannel .ChannelID}}
            <a href="#"><span class="badge badge-pill badge-secondary">{{$cn.Name}}</span></a>
            {{$tags := split .Tags}}
            {{range $i, $t := $tags}}
            <a href="/tags/{{$t}}"><span class="badge badge-pill badge-light">{{$t}}</span></a>
            {{end}}
        </div>
    </div>
</li>