<div id="sidebarMenu" class="sidebar sidebar-fixed sidebar-components ps">
    <div class="sidebar-header">
        <a href="" id="mainMenuOpen">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="feather feather-menu">
                <line x1="3" y1="12" x2="21" y2="12"></line>
                <line x1="3" y1="6" x2="21" y2="6"></line>
                <line x1="3" y1="18" x2="21" y2="18"></line>
            </svg>
        </a>
        <h5>Components</h5>
        <a href="" id="sidebarMenuClose">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="feather feather-x">
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
        </a>
    </div><!-- sidebar-header -->
    <div class="sidebar-body">
        <ul class="sidebar-nav">
            <li class="nav-label mg-b-15">Browse Components</li>
            {{$channels := channelTree}}
            {{$link := .parentLink}}
            {{$channelId := .channelId}}
            {{range $i, $channel := $channels}}
            <li class="nav-item show">
                <a href="javascript:void(0)" class="nav-link with-sub {{if eq $link $channel.Channel.Title}}active{{end}}">
                    {{noescape $channel.Icon}}
                    {{$channel.Title}}
                </a>
                <nav class="nav">
                    {{range $j, $child := $channel.Children}}
                    <a class="{{if eq $channelId $child.Value}}active{{end}}" href="/channel/{{$channel.Channel.Title}}/{{$child.Channel.Title}}">{{$child.Title}}</a>
                    {{end}}
                </nav>
            </li>
            {{end}}
        </ul>
    </div><!-- sidebar-body -->
    <div class="ps__rail-x" style="left: 0px; top: 0px;">
        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
    </div>
    <div class="ps__rail-y" style="top: 0px; height: 854px; right: 0px;">
        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
    </div>
</div>