.block-mode-loading {
  .block-loading-mode {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    opacity: .9;
  }
}
.nav-main-link-name {
  font-weight: normal;
}

.t-category-list {
  .nestable-item-content {
    width: 100%;
    display: inline-block;
    background: #f9fafc;
    border: 0;
    &:hover {
      background: #eff2f8;
    }
    .expand {
      display: none;
      // line-height: 64px;
      // font-size: 2.5rem;
    }
  }
}

.modal-backdrop {
  opacity:0.5;
}

.t-upload-box {
  cursor: pointer;
  width: 9rem;
  height: 9rem;
  background-color: #f9f9f9;
  border: .125rem dashed #e1e1e1;
  border-radius: .25rem;
  text-align: center;
  overflow: hidden;
  padding: .5rem;
  &-err {
    border-color: #e04f1a;
  }
}

.t-upload-box:hover {
  background-color: #fff;
  border-color: #5c80d1;
}

.t-upload-box .fa {
  line-height: 120px;
  font-size: 2rem;
}

.t-upload-box img {
  width: 100%;
  height: 100%;
}

.t-article-list {
  &-category {
    color: #000;
  }
}