<div class="content content-components">
    <div class="container">
        <h1 class="df-title">今日金句</h1>
        <p class="df-lead">Get started with over a dozen reusable components built on top of Bootstrap with styles
            enhancement and additional components and options. -- 对对对</p>
        <hr class="mg-y-40">
        <ul class="list-unstyled">
            {{range $i, $article := .list.List}}
            <li class="article-card mg-b-20">
                <div class="article-card-img">
                    <img src="http://localhost:9000{{$article.Cover}}">
                </div>
                <div class="article-card-body">
                    <h3 class="mg-b-10 tx-inverse">{{$article.Title}}</h3>
                </div>
            </li>
            {{end}}
        </ul>
        <nav class="mg-t-40">
            <ul class="pagination pagination-outline justify-content-center">
                <li class="page-item disabled"><a class="page-link page-link-icon" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg></a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link page-link-icon" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></a></li>
            </ul>
        </nav>
        {{template "comp:footer"}}
    </div><!-- container -->
</div>